# Created by https://www.toptal.com/developers/gitignore/api/react,visualstudiocode,typings
# Edit at https://www.toptal.com/developers/gitignore?templates=react,visualstudiocode,typings

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

dist/

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Typings ###
## Ignore downloaded typings
typings

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/react,visualstudiocode,typings
